# Data Science Eco System

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Display a table of common Data Science tools
- Show examples of expressions in Python

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. matplotlib
2. ggplot
3. pandas

Data Science Tools|
-----|
RStudio
Anaconda
Colaboratory (Google)

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335